# -------------------------------------------------------------------
# Activate the virtual-environment for the bdr_workshop_project
# -------------------------------------------------------------------
